<%- include("header") %>
<div class="menubtn">
   <i class="fi fi-rr-Menu-dots-vertical" onclick="openNav()"></i>
   <i class="fas fa-moon" id="moon2"></i>
   </div>
   <div>
       <nav class="nav-outer-div" id="navbar">
       <div class="small-nav-closebtn"><i class="fi fi-rr-Cross" onclick="closeNav()"></i></div>
       <div class="nav-li-div"><a href="/" class="nav-i">Home</a></div>
       <div class="nav-li-div active"><a href="/about" class="nav-i">About</a></div>
       <div class="nav-li-div"><a href="/portfolio" class="nav-i">Portfolio</a></div>
       <div class="nav-li-div"><a href="/contact" class="nav-i">Contact</a></div>
       <div class="nav-li-div"><a href="/blog" class="nav-i">Blog</a></div>
       <div class="nav-li-div"><i class="fas fa-moon" id="moon"></i></div>
       </nav>
   </div>


   
   <div class="about-body-2">
       <div class="about-body-3 reloader">
         <div class="main-about">
            <div>
               <div class="about-header-div">
                  <h1 class="head-head">ABOUT ME</h1>
               </div>
               <div class="personal-info-div">
                  <div class="details-flex-div">
                     <div class="details-margin-div">
                        <h2>Personal Details</h2>
                        <div class="ul-outer-div">
                           <ul>
                              <li><span class="detail-que">First Name:</span><span class="detail-ans">Omkar</span></li>
                              <li><span class="detail-que">Last Name:</span><span class="detail-ans">Chalageri</span></li>
                              <li><span class="detail-que">Age :</span><span class="detail-ans">22 Years</span></li>
                              <li><span class="detail-que">Nationality:</span><span class="detail-ans">Indian</span></li>
                              <li><span class="detail-que">Address:</span><span class="detail-ans">Karnataka, India</span></li>
                              <li><span class="detail-que">Phone:</span><span class="detail-ans">+919008239***</span></li>
                              <li><span class="detail-que">Email:</span><span class="detail-ans">omcc1122@gmail.com</span></li>
                              <li><span class="detail-que">Languages:</span><span class="detail-ans">English,Hindi,Kannada</span></li>
                           </ul>
                           <div class="download-cv-btn">
                             <a href="/images/Omkar_CV...pdf" download="omkarcv"><button class="cv-btn">DOWNLOAD CV</button></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="personal-info-pic">
                     <div>
                        <div class="personal-info-bg">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="skills-main">
            <div class="edu-main-1">
               <div>
                  <div class="about-header-div">
                     <h1 class="head-head">SKILLS</h1>
                  </div>
               </div>

               <div class="flex-skills-main">
               <div class="bx-1"> 
                  <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="--value:70" class="progress-bar" data-inviewport="scale-in"></div>
                  <div class="skills-tags"><h3>HTML</h3></div>
               </div>
               <div class="bx-1"> 
                  <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="--value:60" class="progress-bar" data-inviewport="scale-in"></div>
                  <div class="skills-tags"><h3>CSS</h3></div>
               </div>
               <div class="bx-1"> 
                  <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:65" class="progress-bar" data-inviewport="scale-in"></div>
                  <div class="skills-tags"><h3>JavaScript</h3></div>
               </div>
               <div class="bx-1"> 
                  <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="--value:70" class="progress-bar" data-inviewport="scale-in"></div>
                  <div class="skills-tags"><h3>C-Programming</h3></div>
               </div>
               <div class="bx-1"> 
                  <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="--value:70" class="progress-bar" data-inviewport="scale-in"></div>
                  <div class="skills-tags"><h3>C++</h3></div>
               </div>
               <div class="bx-1"> 
                  <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="--value:60" class="progress-bar" data-inviewport="scale-in"></div>
                  <div class="skills-tags"><h3>SQL</h3></div>
               </div>
               <div class="bx-1"> 
                  <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="--value:50" class="progress-bar" data-inviewport="scale-in"></div>
                  <div class="skills-tags"><h3>MongoDB</h3></div>
               </div>
               <div class="bx-1"> 
                  <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="--value:60" class="progress-bar" data-inviewport="scale-in"></div>
                  <div class="skills-tags"><h3>Node.js</h3></div>
               </div>
               
               
            </div>
         </div>

         </div>
      
      <div class="education-main">
         <div>
            <div class="flex-edu-main">
               <div class="about-header-div">
                  <h1 class="head-head">EDUCATION</h1>
               </div>
               <div class="edu-main">
                  <div class="flex-edu-main-2">
                     <div class="edu-first-col">
                        <div class="degree-div">
                           <div class="flex-deg-div">
                              <div class="icons"><i class="fi fi-rr-Graduation-cap"></i></div>
                              <div class="degree-detail">
                                 <p class="edu-year">2017-2021</p>
                                 <h2>Bachelor's Degree</h2>
                                 <p class="edu-name">Dr.Ambedkar Institute of Technology Bangalore</p>
                                 <p class="edu-detail">Received Electrical and Electronics Engineering Degree from Dr.AIT</p>
                              </div>
                           </div>
                        </div>
                        <div class="degree-div">
                           <div class="flex-deg-div">
                              <div class="icons"><i class="fi fi-rr-Diploma"></i></div>
                              <div class="degree-detail">
                                 <p class="edu-year">2015-2017</p>
                                 <h2>Pre-University</h2>
                                 <p class="edu-name">Nisarga PU Science College Gulbarga</p>
                                 <p class="edu-detail">Pre-University education from Nisarga College Gulbarga in the academic year 2017 with 88.5%</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="edu-first-col">
                        <div class="degree-div">
                           <div class="flex-deg-div">
                              <div class="icons"><i class="fi fi-rr-School"></i></div>
                              <div class="degree-detail">
                                 <p class="edu-year">2014-2015</p>
                                 <h2>High School</h2>
                                 <p class="edu-name">M B H G High School Aland</p>
                                 <p class="edu-detail">Secondary education from MBHG Hish School Aland in the academic year 2015 with first class 78.88%</p>
                              </div>
                           </div>
                        </div>
                        <div class="degree-div">
                           <div class="flex-deg-div">
                              <div class="icons"><i class="fi fi-rr-E-learning"></i></div>
                              <div class="degree-detail">
                                 <p class="edu-year">2006-2013</p>
                                 <h2>Primary School</h2>
                                 <p class="edu-name">Government Primary School Aland</p>
                                 <p class="edu-detail">Primary education from GP School Aland in the academic year of 2013 with first class</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        </div>
        </div>
      </div>
   </div>



<%- include("footer") %>