<%- include("header") %>
<div class="menubtn">
  <i class="fi fi-rr-Menu-dots-vertical" onclick="openNav()"></i>
  <i class="fas fa-moon" id="moon2"></i>
</div>
<div>
  <nav class="nav-outer-div" id="navbar">
    <div class="small-nav-closebtn"><i class="fi fi-rr-Cross" onclick="closeNav()"></i></div>
    <div class="nav-li-div active"><a href="/" class="nav-i">Home</a></div>
    <div class="nav-li-div"><a href="/about" class="nav-i">About</a></div>
    <div class="nav-li-div"><a href="/portfolio" class="nav-i">Portfolio</a></div>
    <div class="nav-li-div"><a href="/contact" class="nav-i">Contact</a></div>
    <div class="nav-li-div"><a href="/blog" class="nav-i">Blog</a></div>
    <div class="nav-li-div"><i class="fas fa-moon" id="moon"></i></div>
  </nav>
</div>



  <div class="error-main reloader">
    <div class="h1-outer">
      <h1>404 Page Not Found!</h1>
      <br /><br />
      <div class="home-page-nxt-btn">
        <div class="btn-bg">
          <a href="/"><button class="home-btn">
            Go Home
          </button></a>
        </div>
      </div>
    </div>
  </div>


<%- include('footer') %>
