<%- include("header") %>
<div class="menubtn">
<i class="fi fi-rr-Menu-dots-vertical" onclick="openNav()"></i>
<i class="fas fa-moon" id="moon2"></i>
</div>
<div>
    <nav class="nav-outer-div" id="navbar">
    <div class="small-nav-closebtn"><i class="fi fi-rr-Cross" onclick="closeNav()"></i></div>
    <div class="nav-li-div active"><a href="/" class="nav-i">Home</a></div>
    <div class="nav-li-div"><a href="/about" class="nav-i">About</a></div>
    <div class="nav-li-div"><a href="/portfolio" class="nav-i">Portfolio</a></div>
    <div class="nav-li-div"><a href="/contact" class="nav-i">Contact</a></div>
    <div class="nav-li-div"><a href="/blog" class="nav-i">Blog</a></div>
    <div class="nav-li-div large-moon"><i class="fas fa-moon" id="moon"></i></div>
    </nav>
</div>



    <div class="body-2 reloader">
    <div class="home-page">
        <div class="home-bg-img"></div>
        <div class="home-page-main">
           <div class="flex-home-page">
              <div class="home-page-img">
                 <img src="/images/bg6.png" alt="">
              </div>
              <div class="home-text-div">
                 <div class="home-page-name">
                    <h1>I'm Omkar.<span>Web Developer?</span></h1>
                 </div>
                 <div class="home-page-para">
                    <p>"My name is Omkar, and my portfolio is a representation of all that I've learned and how much critical thinking skills have evolved, accomplished as a engineering student. I love designing websites and am looking for more opportunities."</p>
                 </div>
                 <div class="home-page-nxt-btn">
                    <div class="btn-bg">
                     <a href="/about">
                        <button class="home-btn">
                       MORE ABOUT
                       </button>
                     </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
   </div>

<%- include("footer") %>