<%- include("header") %>
<div class="menubtn">
  <i class="fi fi-rr-Menu-dots-vertical" onclick="openNav()"></i>
  <i class="fas fa-moon" id="moon2"></i>
</div>
<div>
  <nav class="nav-outer-div" id="navbar">
    <div class="small-nav-closebtn">
      <i class="fi fi-rr-Cross" onclick="closeNav()"></i>
    </div>
    <div class="nav-li-div"><a href="/" class="nav-i">Home</a></div>
    <div class="nav-li-div"><a href="/about" class="nav-i">About</a></div>
    <div class="nav-li-div active">
      <a href="/portfolio" class="nav-i">Portfolio</a>
    </div>
    <div class="nav-li-div"><a href="/contact" class="nav-i">Contact</a></div>
    <div class="nav-li-div"><a href="/blog" class="nav-i">Blog</a></div>
    <div class="nav-li-div"><i class="fas fa-moon" id="moon"></i></div>
  </nav>
</div>



  <div class="proj-main">
    <div class="project-main reloader">
      <div class="project-main-1">
        <div>
          <div class="about-header-div">
            <h1 class="head-head">PORTFOLIO</h1>
          </div>
        </div>

        <div class="flex-projects">
          <div
            class="project-outer"
            uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
          >
            <div class="proj-bgs-1">
              <a href="/portfolio/1">Grade to sgpa converter</a>
            </div>
          </div>
          <div
            class="project-outer"
            uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
          >
            <div class="proj-bgs-2">
              <a href="/portfolio/2">Personal Website</a>
            </div>
          </div>
          <div
            class="project-outer"
            uk-scrollspy="cls: uk-animation-slide-left; repeat: true"
          >
            <div class="proj-bgs-3">
              <a href="/portfolio/3">Personal Website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<%- include("footer") %>
